@import "../../../assets/styles/variable";
.index {
  background-color: #1E154D;
  @keyframes shakeTopx {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
    }
    5% {
      -webkit-transform: rotate(1deg);
      transform: rotate(1deg);
    }
    10%,
    20%,
    30% {
      -webkit-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
    15%,
    25%,
    35% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
    40% {
      -webkit-transform: rotate(-1deg);
      transform: rotate(-1deg);
    }
    45% {
      -webkit-transform: rotate(1deg);
      transform: rotate(1deg);
    }
    50% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  .shake {
    animation: shakeTopx 2s ease-in-out infinite;
    .iconfont {
      transform: scale(1.1);
      transition: all 0.5s;
    }
  }
  .share-img-canvas {
    position: absolute;
    left: 99999px;
    width: 487.5px;
    height: 390px;
  }
  .btm-shadow {
    position: absolute;
    bottom: -8px;
    left:5%;
    width: 90%;
    height: 8px;
    opacity: 0.3;
    border-radius: 0 0 20px 20px
  }
  .item-line-canvas {
    position: absolute;
    left: 99999px;
  }
  .item-line-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .header {
    position: sticky;
    top: -200Px;
    z-index: 10;
  }
  .banner-img {
    //position: sticky;
    //top: -200Px;
    //z-index: 10;
  }
  .tabs {
    //position: sticky;
    //top: 0;
    //z-index: 10;
    white-space: nowrap;
    &.text-dark {
      color: $black;
      text-shadow: 1px 1px $white;
    }
    &.text-light {
      color: $white;
      text-shadow: 1px 1px $black;
    }
    .tab-active {
      .tab-text {
        //text-shadow: 1px 1px #000;
        font-weight: bold;
        font-size: 34px;
      }
    }
  }
  .version {
    &.text-dark {
      color: $black;
    }
    &.text-light {
      color: $white;
    }
  }
  .fixed-btn {
    position: fixed;
    bottom: 10px;
    right: -420px;
    z-index: 10;
    width: 500px;
    border-radius: 50px 0 0 50px;
    &.bg-black {
      background-color: rgba(0, 0, 0, 0.6);
    }
    & > .bg-black {
      background-color: transparent;
    }
    .func-btn {
      width: 420px;
      & > .bg-black {
        background-color: transparent;
      }
    }
  }
  .badge {
    &:before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: red;
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 11;
    }
  }
}
