.index {
  background-color: #1E154D;
  .share-img-canvas {
    width: 487.5px;
    height: 390px;
  }
  .btm-shadow {
    position: absolute;
    bottom: -8px;
    left:5%;
    width: 90%;
    height: 8px;
    opacity: 0.3;
    border-radius: 0 0 20px 20px
  }
  .item-line-canvas {
    position: absolute;
    left: 99999px;
  }
  .item-line-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .bg-purple-A700 {
    background-color: #AA00FF;
  }
  .bg-indigo-A700 {
    background-color: #304FFE;
  }
  .bg-teal-A700 {
    background-color: #00BFA5;
  }
  .bg-brown-800 {
    background-color: #4E342E;
  }
  .bg-lime-800 {
    background-color: #9E9D24;
  }
  .bg-green-A700 {
    background-color: #00C853;
  }
  .bg-deep-purple-A700 {
    background-color: #6200EA;
  }
  .bg-red-A200 {
    background-color: #FF5252;
  }
  .bg-cyan-A700 {
    background-color: #00B8D4;
  }
  .bg-orange-A700 {
    background-color: #FF6D00;
  }
  .banner-img {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .about {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    background-color: #000;
  }
  .share {
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 10;
    background-color: #000;
  }
}
