@import "../../../assets/styles/variable";
.index {
  background-color: #1E154D;
  .share-img-canvas {
    position: absolute;
    left: 99999px;
    width: 487.5px;
    height: 390px;
  }
  .btm-shadow {
    position: absolute;
    bottom: -8px;
    left:5%;
    width: 90%;
    height: 8px;
    opacity: 0.3;
    border-radius: 0 0 20px 20px
  }
  .item-line-canvas {
    position: absolute;
    left: 99999px;
  }
  .item-line-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
  .header {
    position: sticky;
    top: -200Px;
    z-index: 10;
  }
  .banner-img {
    //position: sticky;
    //top: -200Px;
    //z-index: 10;
  }
  .tabs {
    //position: sticky;
    //top: 0;
    //z-index: 10;
    white-space: nowrap;
    &.text-dark {
      color: $black;
      text-shadow: 1px 1px $white;
    }
    &.text-light {
      color: $white;
      text-shadow: 1px 1px $black;
    }
    .tab-active {
      .tab-text {
        //text-shadow: 1px 1px #000;
        font-weight: bold;
        font-size: 34px;
      }
    }
  }
  .fixed-btn {
    position: fixed;
    bottom: 10px;
    right: -400px;
    z-index: 10;
    width: 480px;
    border-radius: 50px 0 0 50px;
    &.bg-black {
      background-color: rgba(0, 0, 0, 0.6);
    }
    & > .bg-black {
      background-color: transparent;
    }
    .func-btn {
      width: 400px;
      & > .bg-black {
        background-color: transparent;
      }
    }
  }
  .badge {
    &:before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: red;
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 11;
    }
  }
}
