@import "../../../../assets/styles/variable";
.bmi {
  .mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  .picker {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
  }
}
