.calendar {
  .flex-1-7per {
    flex: 0 0 14.28%;
  }
  .swiper-item {
    align-content: space-around;
  }
  .ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
}
