@import "../../../../assets/styles/variable";
.id-photo {
  .choose-img {
    position: fixed;
    bottom: 150px;
    right: 30px;
    z-index: 10;
    box-shadow: 0 0 10px 4px $color-80;
  }
  .save-img {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    box-shadow: 0 0 10px 4px $color-80;
  }
  .id-photo-img {
    width: 295Px;
    height: 413Px;
    box-shadow: 0 0 5px 5px $color-f5;
    & > .iconfont {
      position: absolute;
      bottom: 60Px;
      left: -100Px;
      right: 0;
      height: 370Px;
      font-size: 500Px;
    }
  }
  .id-photo-canvas {
    position: absolute;
    left: 99999px;
  }
  .bg-red {
    background-color: #F44336;
  }
  .bg-select {
    box-shadow: 0 0 10px 4px $color-80;
  }
  .bg-selected {
    border: 2Px solid $black;
  }
  .w295 {
    width: 295Px;
  }
}
