@import "../../../../assets/styles/variable";
.about {
  view.update-log {
    position: relative;
    &:before {
      content: '';
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: $black;
      position: absolute;
      top: 15px;
      left: 0;
      z-index: 1;
    }
    &:after {
      content: '';
      width: 1Px;
      height: 100%;
      background-color: $black;
      position: absolute;
      top: 15px;
      left: 5px;
      z-index: 1;
    }
  }
  &.dark-model {
    view.update-log {
      &:before, &:after {
        background-color: $white;
      }
    }
  }
}
