// 颜色
$white: #fff;
$orange: #F45009;
$blue: #4481EB;
$green: #72ED95;
$yellow: #FFB837;
$darken-blue: #164699;
$black: #000;
$brown: #4E1600;
$color3: #333;
$color6: #666;
$color9: #999;
$color-c: #ccc;
$color-4d: #4d4d4d;
$color-f0: #f0f0f0;
$color-fa: #fafafa;
$color-f5: #f5f5f5;
$color-f6: #f6f6f6;
$color-e6: #e6e6e6;
$color-80: #808080;
$color-6e: #6e6e6e;
$color-e1: #e1e1e1;
$color-d8: #d8d8d8;
$color-96: #969696;
$color-93: #939393;
$color-36: #363636;
$color-a1: #a1a1a1;
$color-cd: #cdcdcd;

// 字体大小
$px0: 0;
$px1: 1px;
$px2: 2px;
$px4: 4px;
$px6: 6px;
$px8: 8px;
$px10: 10px;
$px12: 12px;
$px14: 14px;
$px16: 16px;
$px18: 18px;
$px20: 20px;
$px22: 22px;
$px24: 24px;
$px26: 26px;
$px28: 28px;
$px30: 30px;
$px32: 32px;
$px34: 34px;
$px36: 36px;
$px38: 38px;
$px40: 40px;
$px42: 42px;
$px44: 44px;
$px46: 46px;
$px48: 48px;
$px50: 50px;
$px52: 52px;
$px54: 54px;
$px56: 56px;
$px58: 58px;
$px60: 60px;
$px62: 62px;
$px64: 64px;
$px66: 66px;
$px68: 68px;
$px70: 70px;
$px72: 72px;
$px74: 74px;
$px76: 76px;
$px78: 78px;
$px80: 80px;
$px82: 82px;
$px84: 84px;
$px86: 86px;
$px88: 88px;
$px90: 90px;
$px92: 92px;
$px94: 94px;
$px96: 96px;
$px98: 98px;
$px100: 100px;
$px110: 110px;
$px120: 120px;
$px130: 130px;
$px140: 140px;
$px150: 150px;
$px160: 160px;
$px170: 170px;
$px180: 180px;
$px190: 190px;
$px200: 200px;




